## Task

In this compulsory task you will clean the country column and parse the date column in the **store_income_data_task.csv** file.

In [17]:
import numpy as np
import pandas as pd
import fuzzywuzzy
from fuzzywuzzy import process



from datetime import date
# Load up store_income_data.csv
df = pd.read_csv('store_income_data_task.csv')

1. Take a look at all the unique values in the "country" column. Then, convert the column to lowercase and remove any trailing white spaces.

In [18]:
# looking at all the unique values in the 'country' column.
countries = df['country'].unique()
print(f'there are {len(countries)} uniqu countries in your dataset', countries)
countries

there are 77 uniqu countries in your dataset ['United States/' 'Britain' ' United States' 'Britain/' ' United Kingdom'
 'U.K.' 'SA ' 'U.K/' 'America' 'United Kingdom' nan 'united states'
 ' S.A.' 'England ' 'UK' 'S.A./' 'ENGLAND' 'BRITAIN' 'U.K' 'U.K '
 'America/' 'SA.' 'S.A. ' 'u.k' 'uk' ' ' 'UK.' 'England/' 'england'
 ' Britain' 'united states of america' 'UK/' 'SA/' 'SA' 'England.'
 'UNITED KINGDOM' 'America.' 'S.A..' 's.a.' ' U.K'
 ' United States of America' 'Britain ' 'England' ' SA'
 'United States of America.' 'United States of America/' 'United States.'
 's. africasouth africa' ' England' 'United Kingdom '
 'United States of America ' ' UK' 'united kingdom' 'AMERICA' 'America '
 'UNITED STATES OF AMERICA' ' S. AfricaSouth Africa' 'america'
 'S. AFRICASOUTH AFRICA' 'Britain.' '/' 'United Kingdom.' 'United States'
 ' America' 'UNITED STATES' 'sa' 'United States of America' 'UK '
 'United States ' 'S. AfricaSouth Africa/' 'S.A.' 'United Kingdom/'
 'S. AfricaSouth Africa ' 'S. AfricaSouth Africa.' 'S. AfricaSouth Africa'
 '.' 'britain']

array(['United States/', 'Britain', ' United States', 'Britain/',
       ' United Kingdom', 'U.K.', 'SA ', 'U.K/', 'America',
       'United Kingdom', nan, 'united states', ' S.A.', 'England ', 'UK',
       'S.A./', 'ENGLAND', 'BRITAIN', 'U.K', 'U.K ', 'America/', 'SA.',
       'S.A. ', 'u.k', 'uk', ' ', 'UK.', 'England/', 'england',
       ' Britain', 'united states of america', 'UK/', 'SA/', 'SA',
       'England.', 'UNITED KINGDOM', 'America.', 'S.A..', 's.a.', ' U.K',
       ' United States of America', 'Britain ', 'England', ' SA',
       'United States of America.', 'United States of America/',
       'United States.', 's. africasouth africa', ' England',
       'United Kingdom ', 'United States of America ', ' UK',
       'united kingdom', 'AMERICA', 'America ',
       'UNITED STATES OF AMERICA', ' S. AfricaSouth Africa', 'america',
       'S. AFRICASOUTH AFRICA', 'Britain.', '/', 'United Kingdom.',
       'United States', ' America', 'UNITED STATES', 'sa',
       'United States of America', 'UK ', 'United States ',
       'S. AfricaSouth Africa/', 'S.A.', 'United Kingdom/',
       'S. AfricaSouth Africa ', 'S. AfricaSouth Africa.',
       'S. AfricaSouth Africa', '.', 'britain'], dtype=object)

In [19]:
# first convert all the countrie's names into a lowercase
df['country'] = df['country'].str.lower()

# remove all trailing white spaces
df['country'] = df['country'].str.strip()

# cleaning data from '/', '.', '', ' '.
df['country'] = df['country'].str.rstrip('/')
df['country'] = df['country'].bfill()
df['country'] = df['country'].str.strip('.')
df['country'] = df['country'].bfill()
df['country'] = df['country'].str.strip()
df['country'] = df['country'].bfill()
df['country'] = df['country'].str.rstrip('')
df['country'] = df['country'].bfill()

countries = df['country'].unique()
print(f'there are {len(countries)} uniqu countries in your dataset', countries)

# to fill in the empty data with the same as the one raw before.
#df_filled = df.interpolate()
#df_filled = df.ffill()
#df_filled['country'] = df['country'].dropna()
#df.isnull().sum()
#print(df_filled[400:450])

#df['country'] = df['country'].bfill()
#df['country'] = df['country'].fillna(method = 'bfill')

# display again.
#countries = df['country'].unique()
#print(f'there are {len(countries)} uniqu countries in your dataset', countries)
#df['country'].isnull().sum()
#countries

there are 12 uniqu countries in your dataset ['united states' 'britain' 'united kingdom' 'u.k' 'sa' 'america' 's.a'
 'england' 'uk' '' 'united states of america' 's. africasouth africa']

In [20]:
# Function to replace rows in the country column

def replace_matches_in_column(df, column, string_to_match, min_ratio = 95):
    # get a list of unique strings
    strings = df[column].unique()
    
    # Get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # Only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # Get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # Replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # Let us know when the function is done
    print("All done!")

2. Note that there should only be three separate countries. Eliminate all variations, so that 'South Africa', 'United Kingdom' and 'United States' are the only three countries.

In [23]:

# replacing maches data by ratio = 95 by calling the function replace_matches_in_column.
# replacing 5 possible same name [united kingdom,uk,u.k,england,britain] to United Kingdom
replace_matches_in_column(df=df, column='country', string_to_match="united kingdom")
replace_matches_in_column(df=df, column='country', string_to_match="england")
replace_matches_in_column(df=df, column='country', string_to_match="britain")
replace_matches_in_column(df=df, column='country', string_to_match="u.k")
replace_matches_in_column(df=df, column='country', string_to_match="uk")
df['country']= df['country'].replace('united kingdom','United Kingdom')
df['country']= df['country'].replace('england','United Kingdom')
df['country']= df['country'].replace('britain','United Kingdom')
df['country']= df['country'].replace('u.k','United Kingdom')
df['country']= df['country'].replace('uk','United Kingdom')


# replacing maches data by ratio = 95 by calling the function replace_matches_in_column.
# replacing 3 possible same name [united states of america,united states,'america'] to United States
replace_matches_in_column(df=df, column='country', string_to_match="united states")
replace_matches_in_column(df=df, column='country', string_to_match="united states of america")
replace_matches_in_column(df=df, column='country', string_to_match="america")
df.replace('united states of america', 'United States', inplace=True)
df.replace('united states', 'United States', inplace=True)
df.replace('america', 'United States', inplace=True)

# replacing maches data by ratio = 95 by calling the function replace_matches_in_column.
# replacing 4 possible same name[s. africasouth africa, s.a, sa, south africa'] to South Africa
replace_matches_in_column(df=df, column='country', string_to_match="south africa")
replace_matches_in_column(df=df, column='country', string_to_match="s. africasouth africa")
replace_matches_in_column(df=df, column='country', string_to_match="s.a")
replace_matches_in_column(df=df, column='country', string_to_match="sa")
df.replace('south africa', 'South Africa', inplace=True)
df.replace('s. africasouth africa', 'South Africa', inplace=True)
df.replace('s.a', 'South Africa', inplace=True)
df.replace('sa', 'South Africa', inplace=True)

replace_matches_in_column(df=df, column='country', string_to_match="")
df.replace('', np.nan, inplace=True)
#df.dropna(inplace=True)
df['country'] = df['country'].ffill()
#df['country'] = df['country'].bfill()

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '']

All done!
All done!
All done!
All done!
All done!
All done!
All done!
All done!
All done!
All done!
All done!
All done!
All done!

In [227]:
#countries2 = df['country'].unique()

In [24]:

#df.head(30)
countries = df['country'].unique()
print(f"There are {len(countries)} unique countries")

df['country'].isnull().sum()
countries

There are 3 unique countries

array(['United Kingdom', 'South Africa', 'United States'], dtype=object)

3. Create a new column called `days_ago` in the DataFrame that is a copy of the 'date_measured' column but instead it is a number that shows how many days ago it was measured from the current date. Note that the current date can be obtained using `datetime.date.today()`.

In [36]:
#new_column1 = df.insert(7,'days_ago','date_measured')
df= df.assign('days_gone', df.date_measured)
df.head()

TypeError: DataFrame.assign() takes 1 positional argument but 3 were given